.tienda{
    background-color: #ff7818;
    font-family: "RedHatDisplay";
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tarjeta{
    width: 900px !important;

}